@import url(../styles/reset/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --fonte-principal: 'Roboto';
    --font-span: 'Courgette';
    --preto-q1: #111111;
    --preto-q2: #262626;
    --branco: #FFFFFF;
}
body {
    font-family: var(--fonte-principal);
    font-size: 16px;
 
}
.cabecalho {
    width: 100vw;
    border-bottom: 1px solid var(--preto-q1);
 
  
 
    
    
}
.cabecalho-items {
    display: flex;
    justify-content: space-between;
    margin: 1em 8em;
    align-content: center;
    
     
}
.nav-menu a {
    color: var(--preto-q1);
}
.nav-menu ul {
    display: flex;
    gap: 2em;
    align-items: center;
    color: var(--preto-q1);
}

.button-log, .button-reg {
     
    padding: 0.5em 1.2em;
}
.button-log {
    border: 1px solid var(--preto-q1);
    background-color: transparent;
}
.button-reg {
    border: 1px solid var(--preto-q1);
    background-color: var(--preto-q1);
    color: var(--branco);
}

.sec-container{
    height: 450px;
    display: flex;
    margin: 1em 8em;
    gap: 5em;
    margin-top: 72px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

}
.container-titulo {
    font-size: 56px;
    font-weight: 700;
}
.container-botao{
    width: 30%;
    padding: 0.8em;
    text-align: center;
}
.sec-imagem {
    width: 50%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}
.container-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin:  8em;
    
}
.beneficios-titulo {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 80%;
}

.lista-beneficios {
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 4em;

}
.lista-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: auto;
    color: var(--preto);
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    flex-grow: 1;
    padding: 1em;
    height: 250px;
    line-height: 1.5em;
}
.lista-item img {
   width: 40px; 
}
.lista-item-titulo {
    font-size: 20px;
    font-weight: 500;
}
.lista-item-texto {
    text-align: justify;
    line-height: 1.2em;
}


.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 8em;
}
span {
    font-size: 50px;
    font-family: var(--font-span);
}
.depoimentos-titulo {
    font-size: 40px;
    font-weight: 700;
}
.depoimentos-lista {
    display: flex;
    
 
}
.lista-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    gap: 1em;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    max-width: 355px;
    color: var(--preto);
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    flex-grow: 1;
    padding: 1em;
    height: 400px;
    line-height: 1.5em;
}

.lista-card img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    
}

.faq-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 
    
}
.section-titulo {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2em;
}
.faq {
    width: 50%;
}

.faq-titulo {
    font-size: 18px;
    font-weight: 600;
    padding: 1em;
    border-bottom: 2px solid var(--preto-q2);
    
}

.faq-texto {
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
    padding: 1em;
}

.faq-titulo:hover {
    cursor: pointer;
}